<div is="page" data-page="homepage">
  <h1>Homepage</h1>

  <h2>Status:</h2>
  <code>
  <%- JSON.stringify(me) %>
  </code>



  <%
  // Only show login UI if not logged in.
  if (!me) { %>
  <h3>Log in?</h3>
  <form is="login-form">
    <input name="username" type="text" placeholder="e.g. cherrybear"/>
    <br/>
    <input type="password" placeholder="Type password here"/>
    <br/>
    <button type="submit">Log in</button>
  </form>

  <blockquote>
    <h5>Psst!</h5>
    <p>You can sign in as <code>irlnathan</code> with password <code>abc123</code>.</p>
  </blockquote>
  <% } %>

</div>
